.My__GameButton {
  width: 4rem;
  height: 4rem;
  outline: none;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
}

.My__Background__Red {
  background-color: #9F0F17;
}
.My__Background__Yellow {
  background-color: #CCA707;
}
.My__Background__Green {
  background-color: #00A74A;
}
.My__Background__Blue {
  background-color: #094A8F;
}